*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10;
    padding: 10;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    list-style: none;
    padding: 20px 0 20px 0;
}
.nav-link{
    text-decoration: none;
    color: black;

}